html, body {
    /* height: 100%; */
    margin: 0;
    background-color: #2F3034 !important;
}

.dispNone {
    display: none !important;
}

.objects {
    max-width: 1280px;
    margin: 0 auto;
}

.welcomeWrapper {
    margin: 20px 0;
}

.subText {
	color: white;
	font-weight: 400;
	font-family: adobe-garamond-pro-italic;
	font-style: italic;
	font-size: 22px;
	text-rendering: optimizeLegibility;
	letter-spacing: 1px;
	margin-bottom: 0;
    text-align: center;
}

.mainText {
	/* text-transform: uppercase; */
	font-family: "Proxima Nova", Georgia, sans-serif !important;
	color: white;
	font-weight: 700;
	font-size: 40px;
    font-style: italic;
	padding: 15px 0px;
	line-height: 1em;
	text-align: center;
	-webkit-font-smoothing: antialiased !important;
	letter-spacing: 0em;
	text-rendering: optimizeLegibility;
	margin-top: 0;
}

.mainText.uppercase {
    text-transform: uppercase;
    font-size: 60px;
    padding: 0;
    font-style: normal;
}

.logoWrapper {
    position: absolute;
    left: 0;
    top: 0;
    height: 200px;
    width: 200px;
    padding: 20px;
}

.logoWrapper .logo {
    background: url("../images/logo.svg");
    background-position: center;
    height: 100%;
}

.objectContainer {
    /* background-color: white; */
    /* box-shadow: 0px 0px 5px 3px #888888; */
    border-radius: 25px;
    padding: 20px;
    margin-top: 20px;
    background-color: #464751;
}

.divider {
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    margin: 20px 0;
}

.tagsSection {
    margin-top: 20px;
}

.tagsSection h4 {
    text-align: center;
    color: white;
}

.tagsWrapper, .mainTagsWrapper, .otherTagsWrapper {
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.tag {
    background-color: rgba(0, 0, 0, 0.7);
    width: fit-content;
    padding: 2px 10px;
    border-radius: 25px;
    float: left;
    margin-right: 10px;
    margin-top: 10px;
    cursor: pointer;
    color: white;
    text-transform: capitalize;
    transition: 0.3s;
}

.tag:hover {
    background-color: white;
    color: rgba(0, 0, 0, 0.7);
}

.tag.active {
    background-color: white;
    color: rgba(0, 0, 0, 0.7);
}

#showAllTagsBtn {
    margin: 15px auto;
    background-color: transparent;
    padding: 15px 10px;
    color: white;
    display: block;
    border: 1px solid white;
    cursor: pointer;
    transition: 0.3s;
}

#showAllTagsBtn:hover {
    color: black;
    background-color: white;
}

.coordsWrapper {
    display: flex;
    justify-content: center;
}

.coordinates {
    width: fit-content;
    padding: 2px 10px;
    /* background-color: rgba(128, 247, 153, 0.7); */
    background-color: #fff;
    border-radius: 25px;
    margin-top: 15px;
}

.coordinates span {
    color: #212121;
}

.imagesWrapper {
    width: 100%;
    overflow: hidden;
    margin-top: 20px;
}

.imagesWrapper.dualSetup .singleImage {
    width: 50%;
    float: left;
    min-height: 80vh;
}

.imagesWrapper.singleSetup .singleImage {
    width: 100%;
    float: left;
    min-height: 80vh;
}

img {
    width: 100%;
}


.autocompleteWrapper {
    display: flex;
    justify-content: center;
}

#autocompleteInput {
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid white;
    color: white;
    width: 20%;
}